@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
$red-color: #d92b25;
$red-color-strong: #e01009;

$grey-color: #dccfce;
$black-color: #000000;
$white-color: #ffffff;

$font1: "";
$font2: "";
